In [2]:
import pandas as pd

In [3]:
exchange_rate = pd.read_csv('exchange_rate.csv')
platform_number = pd.read_csv('platform_number.csv')
pricing_project_dataset = pd.read_csv('pricing_project_dataset.csv')

In [ ]:
exchange_rate

In [19]:
platform_number.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   region            6 non-null      object
 1   platform order    6 non-null      object
 2   platform_gmv_usd  6 non-null      object
 3   platform_test     6 non-null      float64
dtypes: float64(1), object(3)
memory usage: 320.0+ bytes

In [30]:
platform_number['platform order'] = pd.to_numeric(platform_number['platform order'].str.replace(',',''))
platform_number['platform_gmv_usd'] = pd.to_numeric(platform_number['platform_gmv_usd'].str.replace(',',''))

platform_number.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   region            6 non-null      object
 1   platform order    6 non-null      float64
 2   platform_gmv_usd  6 non-null      float64
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes

In [32]:
platform_number

  region  platform order  platform_gmv_usd
0     ID      1553364.13      2.438838e+08
1     MY       333184.27      7.341684e+07
2     PH       392687.73      7.538330e+07
3     SG       526181.77      9.917030e+07
4     TH      1018358.54      1.734009e+08
5     VN       413006.15      7.454916e+07

In [35]:
pricing_project_dataset.head()

,grass_region,category_group,seller_type,our_company_item_id,our_company_model_id,competitor_item_id,competitor_model_id,our_company_model_price_usd,our_company_model_price,competitor_model_price,our_company_gmv_usd,our_company_order,our_company_model_competitiveness_status
0,ID,Electronics,Long Tail (LT),5646734211,3953474697,9153508336,992466002,50.336449,779233,647903,8758.537644,174,our_company > CPT
1,SG,FMCG,Long Tail (LT),3735125711,6296885988,3250973377,3554673425,60.001669,81,94,11120.737120,187,our_company < CPT
2,TH,Electronics,Non-Mall,2579813608,1304588577,4678400449,2635346813,18.069590,659,675,3178.819563,176,our_company < CPT
3,PH,FMCG,Long Tail (LT),8699492214,5735505766,9052147161,1100640033,16.023395,906,861,560.405768,35,our_company > CPT
4,TH,FMCG,Long Tail (LT),4815010572,2537451514,1289693311,330522796,169.298181,6177,7004,1523.659436,9,our_company < CPT

In [8]:
pricing_project_dataset

,grass_region,category_group,seller_type,our_company_item_id,our_company_model_id,competitor_item_id,competitor_model_id,our_company_model_price_usd,our_company_model_price,competitor_model_price,our_company_gmv_usd,our_company_order,our_company_model_competitiveness_status
0,ID,Electronics,Long Tail (LT),5646734211,3953474697,9153508336,992466002,50.336449,779233,647903,8758.537644,174,our_company > CPT
1,SG,FMCG,Long Tail (LT),3735125711,6296885988,3250973377,3554673425,60.001669,81,94,11120.737120,187,our_company < CPT
2,TH,Electronics,Non-Mall,2579813608,1304588577,4678400449,2635346813,18.069590,659,675,3178.819563,176,our_company < CPT
3,PH,FMCG,Long Tail (LT),8699492214,5735505766,9052147161,1100640033,16.023395,906,861,560.405768,35,our_company > CPT
4,TH,FMCG,Long Tail (LT),4815010572,2537451514,1289693311,330522796,169.298181,6177,7004,1523.659436,9,our_company < CPT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20994,SG,Lifestyle,Long Tail (LT),9056263816,3259377790,397312171,2824756186,204.767465,278,232,10409.309500,51,our_company > CPT
20995,ID,Electronics,Cross Border,2229891587,4745980762,5540583539,9700393420,54.051412,836742,767266,1675.592003,31,our_company > CPT
20996,TH,Lifestyle,Mall,5857526694,4942189418,7425659970,663434124,36.625718,1336,1299,988.639634,27,our_company > CPT
20997,SG,Fashion,Mall,7785760835,5842771798,4099590209,7693646989,154.670731,210,221,9096.582357,59,our_company < CPT
20998,ID,Lifestyle,Cross Border,2760118977,3104891110,2007407252,6865260224,26.897215,416382,442964,2420.747392,90,our_company < CPT

2. Please write a python or pyspark code to re-arrange the data set to item_lv with the given priority
- P0: our_company < CPT
- P1: our_company = CPT
- P2: our_company > CPT

In [9]:
def get_item_lv(competitive_status):
    if(competitive_status == "our_company < CPT"):
        return 'P0'
    elif(competitive_status == "our_company = CPT"):
        return 'P1'
    elif(competitive_status == "our_company > CPT"):
        return "P2"

In [11]:
pricing_project_dataset['item_level'] = pricing_project_dataset['our_company_model_competitiveness_status'].apply(get_item_lv)

,grass_region,category_group,seller_type,our_company_item_id,our_company_model_id,competitor_item_id,competitor_model_id,our_company_model_price_usd,our_company_model_price,competitor_model_price,our_company_gmv_usd,our_company_order,our_company_model_competitiveness_status,item_level
0,ID,Electronics,Long Tail (LT),5646734211,3953474697,9153508336,992466002,50.336449,779233,647903,8758.537644,174,our_company > CPT,P2
1,SG,FMCG,Long Tail (LT),3735125711,6296885988,3250973377,3554673425,60.001669,81,94,11120.737120,187,our_company < CPT,P0
2,TH,Electronics,Non-Mall,2579813608,1304588577,4678400449,2635346813,18.069590,659,675,3178.819563,176,our_company < CPT,P0
3,PH,FMCG,Long Tail (LT),8699492214,5735505766,9052147161,1100640033,16.023395,906,861,560.405768,35,our_company > CPT,P2
4,TH,FMCG,Long Tail (LT),4815010572,2537451514,1289693311,330522796,169.298181,6177,7004,1523.659436,9,our_company < CPT,P0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20994,SG,Lifestyle,Long Tail (LT),9056263816,3259377790,397312171,2824756186,204.767465,278,232,10409.309500,51,our_company > CPT,P2
20995,ID,Electronics,Cross Border,2229891587,4745980762,5540583539,9700393420,54.051412,836742,767266,1675.592003,31,our_company > CPT,P2
20996,TH,Lifestyle,Mall,5857526694,4942189418,7425659970,663434124,36.625718,1336,1299,988.639634,27,our_company > CPT,P2
20997,SG,Fashion,Mall,7785760835,5842771798,4099590209,7693646989,154.670731,210,221,9096.582357,59,our_company < CPT,P0
20998,ID,Lifestyle,Cross Border,2760118977,3104891110,2007407252,6865260224,26.897215,416382,442964,2420.747392,90,our_company < CPT,P0

In [69]:
test_df = pricing_project_dataset.groupby(["grass_region", "our_company_item_id"], as_index=False).agg({'our_company_order' : pd.Series.sum})
test_df

pricing_project_dataset.shape

(20999, 13)

In [64]:
region_our_company_order = pricing_project_dataset.groupby("grass_region", as_index=False).agg({'our_company_order' : pd.Series.sum})
region_our_company_order.columns = ['region', 'our_company_order']
print(region_our_company_order)
print(platform_number)

  region  our_company_order
0     ID             848601
1     MY             207739
2     PH             202688
3     SG             219624
4     TH             408024
5     VN             213484
  region  platform order  platform_gmv_usd
0     ID      1553364.13      2.438838e+08
1     MY       333184.27      7.341684e+07
2     PH       392687.73      7.538330e+07
3     SG       526181.77      9.917030e+07
4     TH      1018358.54      1.734009e+08
5     VN       413006.15      7.454916e+07

In [66]:
merged_df = pd.merge(region_our_company_order, platform_number, on="region")
merged_df["order_coverage"] = merged_df["our_company_order"] / merged_df["platform order"]

merged_df

  region  our_company_order  platform order  platform_gmv_usd  order_coverage
0     ID             848601      1553364.13      2.438838e+08        0.546299
1     MY             207739       333184.27      7.341684e+07        0.623496
2     PH             202688       392687.73      7.538330e+07        0.516156
3     SG             219624       526181.77      9.917030e+07        0.417392
4     TH             408024      1018358.54      1.734009e+08        0.400668
5     VN             213484       413006.15      7.454916e+07        0.516903